#blanket{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#blanket.active{
    visibility: visible;
    opacity: 1;
}

#blanket #dialog{
    width: 300px;
    max-width: 96%;
    margin: auto;
    background-color: #5b7281;
    margin-top: 100px;
    color: white;
    box-shadow: 0 0 12px black;
    display: none;
}

#blanket #dialog.wide{
    width: 500px;
}

#blanket #dialog .buttons{
    text-align: center;
    background-color: #4b6071;
    margin-top: 20px;
}

#blanket #dialog .buttons div{
    border: 1px solid #384554;
    font-size: 13px;
    margin: 10px 4px;
    padding: 4px 6px;
    display: inline-block;
    min-width: 80px;
}

#blanket #dialog .buttons div:hover{
    cursor: pointer;
    background-color: #5b7281;
}

#blanket #dialog h3{
    border-bottom: 1px solid #384554;
    text-align: center;
    font-size: 18px;
    background-color: #415667;
}

#blanket #dialog p{
    text-align: center;
    padding: 0 20px;
}

#blanket #dialog input,
#blanket #dialog textarea{
    text-align: center;
    padding: 10px;
    width: 90%;
    display: block;
    margin: auto;
    background-color: #c4ccd1;
    border: 1px solid #415667;
}

#blanket #dialog textarea{
    height: 300px;
    text-align: left;
}

#blanket #popupmenu{
    background-color: #cad6dc;
    position: absolute;
    width: 100px;
    height: auto;
    box-shadow: 1px 1px 4px 0 black;
    display: none;
}

#blanket.popup{
    background-color: rgba(0, 0, 0, 0.3);
}

#blanket.popup #popupmenu{
    display: block;
}
#blanket.dialog #dialog{
    display: block;
}

#blanket #popupmenu .button{
    display: block;
    border: none;
    border-bottom: 1px solid silver;
    color: black;
    opacity: 0.8;
}

#blanket #popupmenu .button:hover{
    background-color: #dcedf5;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#dialog .tree{
    height: 250px;
    overflow: auto;
    margin: 0 10px;
}

#dialog .tree .node{
    font-size: 12px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#dialog .tree .node:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #425463;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgb(138, 154, 164);
}