#gridbox{
    position: absolute;
    z-index: 1000;
    display: none;
    overflow: hidden;
    transform: translate3d(0,0,0); /*need for the overflow hidden on fixed elements*/
}

#gridbox.active{
    display: block;
    background-color: white;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

#grid{
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}

#grid.active{
    display: block;
    background-color: white;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

#grid .row{
    border-bottom: 1px solid #ebebeb;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

#grid .row.header{
    background-color: #E7E9EB;
    border-bottom: 1px solid rgba(66, 84, 99, 0.29);
    position: fixed;
    z-index: 100;
}

#grid .row .cell{
    display: inline-block;
    font-size: 12px;
    padding: 4px;
    border-left: 1px solid #ebebeb;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#grid .row.header .cell{
    border-left: 1px solid rgba(66, 84, 99, 0.29);
    position: relative;
}

#grid .row.header .cell.width{
    width: 200px;
}

#grid .row.header .cell b{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 6px;
}

#grid .row.header .cell b:hover{
    cursor: col-resize;
    background-color: rgba(66, 84, 99, 0.29);
}

#grid .row .cell.name{
    width: 180px;
}

#grid .row .cell.d2{
    padding-left: 20px;
}
#grid .row .cell.d3{
    padding-left: 40px;
}
#grid .row .cell.d4{
    padding-left: 60px;
}
#grid .row .cell.d5{
    padding-left: 80px;
}

#grid .row .cell:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 1px 2px rgba(47, 61, 94, 0.52);
    background-color: rgba(47, 61, 94, 0.13);
}