html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: #425463;
    font-family: 'Saira', sans-serif;
    background-image: url("../_img/pattern1.png");
}

.clear{
    clear: both;
}

h1,h2,h3,h4{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

#container{
    width: 1000px;
    max-width: 100%;
    margin: auto;
    border: 1px solid black;
    background-color: #425463;
    color: #d3d3d3;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.68);
    position: relative;
}

footer{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    position: relative;
    padding: 10px;
}

footer a{
    color: rgba(255, 255, 255, 0.4);
}

footer a:hover{
    color: white;
}



